@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vs-bg: #1e1e1e;
  --vs-sidebar: #252526;
  --vs-border: #2b2b2b;
}

body {
  color: #cccccc;
  background: var(--vs-bg);
  min-height: 100vh;
}

/* VS Code Styled Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--vs-bg); 
}
::-webkit-scrollbar-thumb {
  background: #424242; 
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}
::-webkit-scrollbar-corner {
  background: var(--vs-bg);
}